<div class="container"
fxLayout="column"
fxLayoutGap="10px"
>
<!--isso tudo será tratado como uma unidade ou um pedaço de conteúdo, que serão definidos pelo layout flexivel-->
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">


     <div fxFlex>

      <div>
        <h3>Menu</h3>
        <hr>
      </div>

     </div>
     <div fxFlex>


      <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
          <img height="200px" src={{dish.image}} alt={{dish.name}}>
          <mat-grid-tile-footer>
            <h1>{{dish.name | uppercase}}</h1>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <mat-card fxFlex *ngIf="leader">
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>
          <h3>{{leader.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{leader.image}} alt={{leader.name}}>
      <mat-card-content>
        <p>{{leader.description}}</p>
      </mat-card-content>
    </mat-card>


</div>
